@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

/* Base Styles */
.landing_page * {
    font-family: Nunito, sans-serif;
}

.landing_page .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.landing_page .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.landing_page .responsive-cell-block {
    min-height: 75px;
}

.landing_page .responsive-container-block.container {
    max-width: 1320px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    position: relative;
}

.landing_page .form-box {
    background-color: #f4f4f4;
    color: #18448c;
    padding-top: 35px;
    padding-right: 33px;
    padding-bottom: 35px;
    padding-left: 33px;
    max-width: 506px;
}

.landing_page .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
}

.landing_page .text-blk.contactus-subhead {
    color: #225e9a;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
}

.landing_page .input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding: 1px 22.5px; /* Adjusted for padding */
    border: 2px solid #18448c;
    border-bottom-color: #225e9a; /* Adjusted border color */
    text-align: right; /* Align text to the right for RTL */
}

.landing_page .textinput {
    width: 100%;
    height: 233px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 18px;
    padding: 22px;
    background-color: #ffffff;
    border: 1px solid #225e9a;
    text-align: right; /* Align text to the right for RTL */
}

.landing_page .submit-btn {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    background-color: #18448c;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: 2px solid #18448c;
}

.landing_page .submit-btn:hover {
    background-color: #285eb1;
    color: white;
}

.landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.landing_page .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6.right-one {
    display: flex;
    justify-content: center;
}

.landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.landing_page .text-blk.section-subhead {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 420px;
    font-size: 18px;
    color: #b6b6b6;
}

.landing_page .text-blk.section-head {
    font-size: 40px;
    line-height: 55px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    max-width: 450px;
}

.landing_page .icons-container {
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
}

.landing_page .img {
    width: 31px;
    height: 31px;
}

.landing_page .responsive-container-block.big-container {
    background-color: transparent;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    position: relative;
}

.landing_page .bg-img {
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

@media (max-width: 768px) {
    .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
        justify-content: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .landing_page .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-6.wk-ipadp-6.emial {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
        margin: 0 0 40px 0;
    }
}

@media (max-width: 500px) {
    .landing_page .text-blk.section-head {
        font-size: 26px;
        line-height: 40px;
    }

    .landing_page .responsive-container-block.big-container {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .landing_page .text-blk.section-subhead {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 16px;
    }

    .landing_page .form-box {
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 15px;
    }

    .landing_page .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.left-one {
        margin: 0 0 30px 0;
    }

    .landing_page .input {
        height: 45px;
    }

    .landing_page .text-blk.contactus-head {
        font-size: 24px;
        line-height: 34px;
    }
}

/* RTL Styles */
html[dir="rtl"] .landing_page .form-box {
    padding-right: 33px;
    padding-left: 33px; /* Switch padding for RTL */
}

html[dir="rtl"] .landing_page .input {
    padding-right: 125px; /* Adjust padding for RTL */
    padding-left: 22.5px; /* Adjust padding for RTL */
    text-align: right; /* Ensure text is right-aligned */
}

html[dir="rtl"] .landing_page .textinput {
    padding-left: 22px; /* Adjust padding for RTL */
    padding-right: 22px; /* Adjust padding for RTL */
    text-align: right; /* Ensure text is right-aligned */
}

html[dir="rtl"] .landing_page .submit-btn {
    /* No change needed for button in RTL */
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

.wk-tab-1 {
    width: 8.333333%;
}

.wk-tab-2 {
    width: 16.666667%;
}

.wk-tab-3 {
    width: 25%;
}

.wk-tab-4 {
    width: 33.333333%;
}

.wk-tab-5 {
    width: 41.666667%;
}

.wk-tab-6 {
    width: 50%;
}

.wk-tab-7 {
    width: 58.333333%;
}

.wk-tab-8 {
    width: 66.666667%;
}

.wk-tab-9 {
    width: 75%;
}

.wk-tab-10 {
    width: 83.333333%;
}

.wk-tab-11 {
    width: 91.666667%;
}

.wk-tab-12 {
    width: 100%;
}

.wk-mobile-1 {
    width: 8.333333%;
}

.wk-mobile-2 {
    width: 16.666667%;
}

.wk-mobile-3 {
    width: 25%;
}

.wk-mobile-4 {
    width: 33.333333%;
}

.wk-mobile-5 {
    width: 41.666667%;
}

.wk-mobile-6 {
    width: 50%;
}

.wk-mobile-7 {
    width: 58.333333%;
}

.wk-mobile-8 {
    width: 66.666667%;
}

.wk-mobile-9 {
    width: 75%;
}

.wk-mobile-10 {
    width: 83.333333%;
}

.wk-mobile-11 {
    width: 91.666667%;
}

.wk-mobile-12 {
    width: 100%;
}

.wk-tab-1 {
    width: 8.333333%;
}

.wk-tab-2 {
    width: 16.666667%;
}

.wk-tab-3 {
    width: 25%;
}

.wk-tab-4 {
    width: 33.333333%;
}

.wk-tab-5 {
    width: 41.666667%;
}

.wk-tab-6 {
    width: 50%;
}

.wk-tab-7 {
    width: 58.333333%;
}

.wk-tab-8 {
    width: 66.666667%;
}

.wk-tab-9 {
    width: 75%;
}

.wk-tab-10 {
    width: 83.333333%;
}

.wk-tab-11 {
    width: 91.666667%;
}

.wk-tab-12 {
    width: 100%;
}
